{% for workspace in workspaces %}
<div class="card workspace">
    <div class="card-body" style="position: relative;">
        <h5 class="card-title">{{ workspace.organization }}</h5>

        <div style="position: absolute; top: 15px; right: 10px; z-index: 10;">
            <button {% if openedModal == workspace.id|stringformat:'i' %}id="defaultOpen"{% endif%} class="btn btn-link" type='button' data-toggle="modal" data-target="#membersModal-{{ workspace.id }}" style="text-decoration: none;" >
                {{ workspace.members.count }} Members 
                {% if user == workspace.admin %}
                    <span style="width: 50px; height: 50px; border-radius: 50%;">| Add Members</span>
                {% endif %}
            </button>
        </div>

        <p class="card-text mb-2 text-muted">{{ workspace.description }}</p>
    </div>
    <a href="{% url 'getWorkspace' workspace.id %}" class="stretched-link"></a>
</div>
  
<!-- Add Members Modal -->
<div class="modal fade" id="membersModal-{{ workspace.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{{ workspace.organization }} | Members</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <p>Shared With:</p>
        <div style="max-height: 15vh; overflow-y: scroll;">
            {% for member in workspace.members.all %}
                <a class="wkspace-member-link" href="{% url 'getProfile' member.id %}" style="text-decoration: none;">
                    {% load static %}

                    {% if not member.profilePicture %}
                    <img src="{% static 'doMe/stockProfile.jpeg' %}">
                    {% else %}
                    <img src="{% url 'getProfilePicture' member.id %}">
                    {% endif %}

                    <span style="display: inline-block;">&nbsp;{{ member.first_name|add:' '|add:member.last_name }} | {{ member.username }}</span>
                </a>

                {% if user == member or user == workspace.admin %}
                    <form  method="POST" action="{% url 'leaveWorkspace' %}" style="float: right;">                            
                        <input type='hidden' name='workspace' value="{{workspace.id}}">
                        <input type='hidden' name='member' value="{{member.id}}">
                        {% csrf_token %}

                        {% if user == member %}
                        <button type="submit" class="btn btn-link wkspace-aside-link">Leave Workspace</button>
                        {% else %}
                        <button type="submit" class="btn btn-link wkspace-aside-link">Remove</button>
                        {% endif %}
                    </form>
                {% endif %}
                <br>
            {% endfor %}
        </div>

        {% if user == workspace.admin %}
        <hr>

        <div>Add Members:</div>
        <form  method="GET" action="" style="">
            <input name="query" value="{{ request.GET.query }}" id="searchBar-{{ workspace.id }}" class="form-control mr-sm-2" type="search" placeholder="Add a user" aria-label="Search" style="display: inline-block; width: 70%;">
            <input type='hidden' name='workspace' value="{{workspace.id}}">
            <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button><br><br>
        </form>

        <div style="max-height: 15vh; overflow-y: scroll;">
            {% if users %}
            {% for user in users %}

                <a class="wkspace-member-link" href="{% url 'getProfile' user.id %}" style="text-decoration: none;">
                    
                    {% if not user.profilePicture %}
                    <img src="{% static 'doMe/stockProfile.jpeg' %}">
                    {% else %}
                    <img src="{% url 'getProfilePicture' user.id %}">
                    {% endif %}

                    <span style="display: inline-block;">&nbsp;{{ user.first_name|add:' '|add:user.last_name }} | {{ user.username }}</span>
                </a>
                
                <form  method="POST" action="{% url 'addToWorkspace' %}" style="float: right;">                            
                    <input type='hidden' name='workspace' value="{{workspace.id}}">
                    <input type='hidden' name='member' value="{{user.id}}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-link wkspace-aside-link">Add as Member</button>
                </form>
                <br>
            {% endfor %}
            {% else %}
            <p>&nbsp;&nbsp;&nbsp;&nbsp;No matching users or usernames found</p>
            {% endif %}
        </div>
        {% endif %}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
    </div>
</div>
</div>

<br>
{% endfor %}