{% extends "doMe/base.html" %}

{% block page_specific_styles %}
<!-- Calendar widget scripts -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css" integrity="sha256-XPTBwC3SBoWHSmKasAk01c08M6sIA5gF5+sRxqak2Qs=" crossorigin="anonymous" />
{% endblock %}

{% block title %}{% block navtitle %}
    My Workspaces
{% endblock %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <!-- Workspaces Header -->
            <br>

            <p style='color: red; '>{{ error }}</p>
            <p style='color: green; '>{{ joinMessage }}</p>
            <h1 style="display: inline;">{{title}}    </h1>&nbsp;

            <button id='add-workspace' class="btn btn-outline-success" style="margin-bottom: 20px; margin-right:10px" data-toggle="modal" data-target="#Modal1">Create {{pageType}}</button>
            
            {% if pageType == 'Workspace' %}
                <button id='{{clickJoin}}' class="btn btn-outline-info" style="margin-bottom: 20px;" data-toggle="modal" data-target="#Modal2"> Join {{pageType}}</button>
            {% endif %}

            {% if pageType == 'doMe List' %}
                <button id='{{clickJoin}}' class="btn btn-outline-info" style="margin-bottom: 20px;" data-toggle="modal" data-target="#Modal3">Workspace Settings
            </button>
            {% endif %}

            <br></br>
                
            <!-- Create List / Workspace Modal -->
            <div class="modal fade" id="Modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New {{pageType}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>

                    <div class="modal-body">
                        <form method="POST" action="{% url createFunction %}">
                            <table>{{ passedInForm }}</table>
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary">Create {{pageType}}</button>
                            <input type='hidden' name='workspaceId' value={{workspaceId}}>
                        </form>
                    </div>

                </div>
                </div>
            </div>

            <!-- SEND Join Request Modal -->
            <div class="modal fade" id="Modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Join Workspace</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>

                    <div class="modal-body">
                        <p style='color: red; '>{{ modalError }}</p>
                        <form method="POST" action="{% url 'searchWorkspace' %}">
                            <label>Enter Workspace Id: </label> 
                            <input name='search' value="{{search}}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary">Search </button>
                        </form>
                            {% if workspaceQuery %}
                            <br><br>
                            <p>
                                {{ workspaceQuery.id }} - {{workspaceQuery.organization}}
                                <form method="POST" action= "{% url 'requestJoin' %}">
                                    <button class="btn btn-outline-info" style="margin-bottom: 10px; margin-left: 20px;">Send a Join Request
                                    </button>
                                    {% csrf_token %}
                                    <input type='hidden' name='workspaceId' value='{{ workspaceQuery.id }}'>
                                </form>
                            {% endif %}
                            </p>
                    </div>

                </div>
                </div>
            </div>

            <!-- APPROVE Join Request Modal  -->
            <div class="modal fade" id="Modal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Join Requests</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>

                    <div class="modal-body">
                        {% if requests %}
                        {% for request in requests%}
                            <p>{{request.username}} ({{request.first_name}} {{request.last_name}})
                            <form method="POST" action= "{% url 'acceptJoin' %}">
                                <button name='decision' value='accept' class="btn btn-outline-danger" style="float: right; margin: 5px">Decline</button>
                                <button name='decision' value='decline'  class="btn btn-outline-success" style="float: right; margin: 5px;">Accept</button>
                                <input type='hidden' name='workspaceId' value={{workspaceId}}>
                                <input type='hidden' name='username' value={{request.username}}>                                
                                {% csrf_token %}
                            </form>
                        </p>
                            <br>
                        {% endfor %}
                        {% else %}
                        <p>There are no pending requests for the workspace</p>
                        {% endif %}
                    </div>
                    <div class="modal-header"></div>
                    <div class="modal-body">
                    <p>Workspace ID: {{workspaceId}}</p>
                    <p>Members: {{count}}</p>
                </div>
                </div>
                </div>
            </div>

            {% include 'doMe/_displayWorkspaces.html' %} 

            {% include 'doMe/_displayLists.html' %} 

        </div>
	</div>
{% endblock %}

{% block page_specific_scripts %}
<script>
    $(function () {
        $('.datetimepicker-group').datetimepicker({
            format: 'DD/MM/YYYY HH:mm',
        });
    });
</script>

{% load static %}
<!-- Calendar widget scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js" integrity="sha256-VBLiveTKyUZMEzJd6z2mhfxIqz3ZATCuVMawPZGzIfA=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js" integrity="sha256-z0oKYg6xiLq3yJGsp/LsY9XykbweQlHl42jHv2XTBz4=" crossorigin="anonymous"></script>
{% endblock %}