{% extends "doMe/base.html" %}

{% block page_specific_styles %}{% endblock %}

{% block title %}{% block navtitle %}
	DoMe | Welcome
{% endblock %}{% endblock %}

{% block content %}
	<div class="row" style="padding-top: 20vh;">
        <div class="col">
            <h1 style="font-size: 2em; font-weight: 100;"><span style="color: indianred;">Do</span>Me</h1>
            <p>
                Welcome to DoMe, a collaborative get-things-done app!<br><br>
                <span>We pride ourselves on collab calendars, todo items, and priorities<br>Made by Andrew Hong and Maksym Kornyev @ Carnegie Mellon University<br>Django 3.0 | Python 3.6</span>
            </p>
        </div>

        <div class="col">
            <div class="tab">
                <button class="tablinks" onclick="openTab(event, 'Login')" id='{{loginTab}}'>Login</button>
                <button class="tablinks" onclick="openTab(event, 'Register')" id='{{registerTab}}'>Register</button>
            </div>
            <div id="Login" class="tabcontent">
                    <p class="card-text">Quick, get to collaborating!</p>
                        <form method="POST" action="{% url 'Login' %}" class="login">
                            <table>{{ loginForm }}</table>
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary">Login</button>
                        </form>
             </div>
            <div id="Register" class="tabcontent">
                <p class="cart-text">Register for an account</p>
                        <form method="POST" action="{% url 'Register' %}" class="register">
                            <table>{{ registrationForm }}</table>
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary">Register</button>
                        </form>
                </div>
            </div>
        </div>

	</div>
{% endblock %}